.messageBlock {
    margin-left: 50px;
    border-left: 2px solid #5c7a80;

}

.messageItem {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    margin: 20px 40px;
}


.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message {
    max-width: 70%;
    margin-left: 20px;
    background: #fcf6e4;
    padding: 5px;
    border-radius: 10px;
}

.sendMessage {
    margin: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.sendMessage pre {
    white-space: pre-line;
    margin: 0;
}

.sendMessage textarea {
    width: 600px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    resize: none;
}

.sendMessage textarea::-webkit-scrollbar {
    visibility: hidden;
    width: 0;
}

.sendMessage textarea:focus {
    outline: none;
}

.sendMessage button {
    height: 35px;
    width: 100px;
    display: block;
    border: none;
    border-radius: 10px;
    background-color: #c56bf3;
    color: #EFE2BA;
    font-size: 20px;
    line-height: 24px;
}