.wrapper {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    padding: 20px;
}

.seeMore {
    min-width: 100px;
    height: 40px;
    padding: 5px;
    margin: 0 auto;
    margin-top: 40px;
    background: #c5c4d5;
    font-size: 20px;
    color: #8B7AA8;
    border-radius: 5px;
}


.seeMore:hover {
    background: #5c7a80;
    color: #c5c4d5;
}