.wrapper {

    display: flex;

    flex-direction: column;

    background-color: lightgrey;

    padding: 20px;

}

.pages {

    display: flex;

    flex-direction: row;

    gap: 10px;

    justify-content: center;

    align-items: center;

    cursor: pointer;

}

.selectedPage {

    font-weight: bold;

    font-size: 20px;

}


.users {

    display: flex;

    flex-direction: row;

    align-items: center;

    gap: 40px;

    padding: 20px;

}


.info {

    width: 400px;

    height: 80px;

    padding: 10px;

    display: flex;

    flex-direction: row;

    justify-content: space-between;

    border: 2px solid gray;

    border-radius: 10px;

}


.info > div {

    display: flex;

    flex-direction: column;

    justify-content: space-between;

}


.info span {

    font-weight: bold;

    font-size: 18px;

    line-height: 20px;

}


.info p {

    font-size: 16px;

}


.avatar {

    width: 80px;

    border-radius: 50%;

}


.button button {

    min-width: 90px;

    height: 40px;

    padding: 5px;

    border-radius: 5px;

    font-weight: bold;

    cursor: pointer;

}


.button button:hover {

    font-weight: 750;

    color: green;

}


.unfollow {

    background: peru;

    border: 1px solid indianred;

}


.follow {

    background: #a1b3b4;

    border: 1px solid #163a41;

    color: #163a41;


}


.seeMore {

    min-width: 100px;

    height: 40px;

    padding: 5px;

    margin: 0 auto;

    margin-top: 40px;

    background: #c5c4d5;

    font-size: 20px;

    color: #8B7AA8;

    border-radius: 5px;

}


.seeMore:hover {

    background: #5c7a80;

    color: #c5c4d5;

}