.profile {
    margin: 20px;
    display: flex;
}

.profileImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.profile__avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profileInfoContainer {
    margin-left: 20px;
}

.profile__data h4 {
    margin-top: 10px;
}

.profile__title {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}


.profile__descr span {
    /*font-weight: bold;*/
}

.editProfileBtn {
    margin-top: 5px;
}