.header {
    grid-area: h;
    background-color: rgb(158, 210, 198);
}

.header img {
    width: 50px;
}

.loginBlock {
    float: right;

}

.loginBlock a {
    color: white;
    font-weight: 550;
    font-size: 17px;
    text-decoration: none;
    padding-right: 7px;
}
.loginBlock a:hover {
    color: green;
    font-weight: 550;
    font-size: 18px;
    text-decoration: none;
    padding-right: 7px;
}

.loginDisplayer {
    float: right;
     color: white;
     font-weight: 550;
     font-size: 17px;
     text-decoration: none;
     padding-right: 7px;
 }
.loginDisplayer:hover {
    float: right;
    color: green;
    font-weight: 550;
    font-size: 18px;
    text-decoration: none;
    padding-right: 7px;
}