.nav {
    grid-area: nv;
    background-color:rgb(84, 186, 185);
    padding: 20px;
}

.item {
    color: white;
    text-decoration: none;
}

.active {
    color: darkgreen;
    text-decoration: none;
}