.app-wrapper {
    display: grid;
    grid-template-areas: "h h"
"nv c";
    width: 1200px;
    margin: 0 auto;

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*
    grid-gap: 10px;
    */
}

.app-wrapper-content {
    grid-area: c;
    background-color: #b5bede;

}

