.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    text-decoration: none;
}

.dialogItems {
    padding: 10px;
    text-decoration: none;
}

.dialog {
    text-decoration: none;
}

.active {
    text-decoration: none;
    text-decoration-color: crimson;
    font-weight: bold;
}

.messages {
    padding: 10px;

}

.message {

}

.sendAndWriteMessageWrapper {
    padding: 10px 0px;
}

textarea {
    border-radius: 5px;
    display: block;
width: 40%;
}

.sendMessageButton {
    border-radius: 5px;
    display: block;
    bottom: 29px;
}